<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Danh sách thể loại</h4>                            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>                   
                    <tr>
                        <!-- <th class="th-title"></th> -->
                        <th class="th-title">Mã thể loại</th>
                        <th class="th-title">Tên thể loại</th> 
                        <th></th>                                              
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let theloai of theloais'>
                        <!-- <td>
                            <input type="checkbox" class="check">
                        </td> -->
                        <td>
                            <h5 class="category-sm">{{theloai.id}}</h5>
                        </td>
                        <td>
                            <div class="category-content">                                
                                <div class="ms-3">
                                    <h4 class="category-sm">{{theloai.tenTheLoai}}</h4>                                  
                                </div>
                            </div>
                        </td> 
                        <td>
                            <div class="button-right">
                                <button type="button" class="btn btn-outline-success" (click)="editTheLoai(theloai)">Sửa</button>
                            </div>
                        </td>                                            
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>    
</div>

<div class="button-right">
    <button type="button" class="btn btn-outline-success" (click)="initNewTheLoai()">Thêm thể loại</button>   
</div>