.card{
    margin: 2rem 2rem 1.3rem 0;
 }
 .card-title{
     text-align: center;
     justify-content: center;
     text-transform: uppercase;
 }
 .th-title{
     text-transform: uppercase;
     text-align: center;
     justify-content: center;
 }
 .category-sm{
     text-align: center;
     font-size: 16px;
 }
 .button-right{
     position: relative;
     right: auto;
     margin: 5px 10px 15px 0;
     text-align: right;
 }
 .button-right .btn.btn-outline-success{
     text-transform: uppercase;
     margin-right: 10px;
     color: #6200ee;
     border-color: #6200ee;
 }
 .button-right .btn.btn-outline-success:hover{
     color: #fff;
     background: #6200ee;
 }
 .check{
     text-align: center;
     margin-left: 20px;
 }