<div class="admin-page">
  <div class="h2-admin">
    <button mat-button [matMenuTriggerFor]="menu">Hi,Admin1</button>
  </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile-admin">Profile</button>
      <button mat-menu-item>Log out</button>
    </mat-menu>
    <!-- <h2 class="h2-admin" routerLink="/profile-admin">Hi,Admin1</h2> -->
    <div class="manager-admin">
      <button mat-mini-fab color="link" aria-label="add icon" routerLink="/library">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="link" aria-label="delete icon" routerLink="/library">
        <mat-icon>delete</mat-icon>
      </button> 
      <button mat-mini-fab color="link" aria-label="edit icon" routerLink="/library">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    
    <!-- thống kê số lượng truy cập -->
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2>200</h2>
            <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/library">TỔNG SỐ LƯỢNG TRUYỆN</mat-list-item>
          </div>
          <div class="col">
            <h2>20</h2>
            <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/library">SỐ LƯỢNG TRUYỆN MỚI CẬP NHẬT</mat-list-item>
          </div>
          <div class="col">
            <h2>1000</h2>
            <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/login-user">SỐ LƯỢNG TRUY CẬP </mat-list-item>
          </div>
        </div>
    </div>
    <!-- hiển thị biểu đồ  -->
    <button class="baocaochitiet" [routerLink]="['/chart']">Báo cáo chi tiết</button> 
</div>