.admin-page{
    padding-top: 100px;
}
.header-report{
    margin-left: 1150px;
}
.baocaochitiet{
    margin-left: 1150px;
    margin-top: 10px;
    border-radius: 20px;
}
.row{
    border-radius: 20px;
    background-color: azure;
}
.h2-admin{
    text-align: right;
    cursor: pointer;
}
.manager-admin{
    padding: 10px;
    margin-left: 80%;
    padding-bottom: 20px;
}