<div class="container">
    <div class="search-form">
        <input type="email" matInput  [(ngModel)]="keyword" placeholder="Tìm sách">
        <button mat-button (click)="searchSach()" class="btn-search">Tìm kiếm</button>
        
    </div>
    <div class="lib-content">
        <div class="row">
            <div *ngFor="let s of sach" class="col-lg-3 mt-3 mb-3">            
                <mat-card>                            
                    <mat-card-content>
                        <a routerLink="/pages/bookdetail/{{s.id}}"><img src="{{s.hinhAnh}}" width="100%" alt=""></a>
                    </mat-card-content>
                    <mat-card-subtitle>
                        <h3>{{s.tenSach}}</h3>
                        <h4>Tác giả: {{s.tacGia}}</h4> 
                    </mat-card-subtitle>                        
                </mat-card>                                      
            </div>
        </div>
    </div> 

</div>
