<div class="book-details-page" *ngIf="sachData">
    <div class="row book-details">
        <!-- <div class="col-3">
            <div class="container">
                <h1>Thể loại</h1>
                <div class="category" *ngFor="let theloai of theloaiList">
                    <h3>{{theloai.tenTheLoai}}</h3>                    
                </div>
            </div>            
        </div> -->
        <div class="col-4">            
            <img class="sach-image" src="{{sachData.hinhAnh}}" alt="">  
            <div class="book-button-col">
                <a mat-raised-button href="{{sachData.pdfFile}}" target="_blank">Đọc sách</a>
                <a mat-raised-button href="{{sachData.pdfFile}}" target="_blank">Tải sách</a>
            </div>                    
        </div>
    
        <div class="col-6">
            <div class="details">
                <h1>{{sachData.tenSach}}</h1>
                <h3>Tác giả: {{sachData.tacGia}}</h3>
                <h3>Thể loại: {{theLoaiData?.tenTheLoai}}</h3>
                <h3>Số trang: {{sachData.soTrang}}</h3>                
                <h3>Lượt đọc: </h3>
                <h3>Lượt tải: </h3>
                <h3>Mô tả: {{sachData.tomTat}}</h3>                              
            </div>
        </div>
    </div>
</div>
