<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="about-title">
                <h2 class="title">Giới thiệu về BOOKWORM</h2>
                <p class="content-intro">BOOKWORM là một nền tảng trực tuyến cung cấp các 
                    tài liệu đọc sách phong phú, đa dạng và hoàn toàn miễn phí.
                    Được thành lập với mục tiêu đem lại cho mọi người trải nghiệm 
                    đọc sách thuận tiện và tiếp cận với tri thức, chúng tôi cam kết 
                    mang đến cho bạn những trải nghiệm đọc sách tuyệt vời.</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-10">
            <div class="about-img">
                <img src="/assets/image/homepage/about.PNG" alt=""/>
            </div>
        </div>             
    </div> 
    
    <div class="row">
        <h1 class="title-i">Tại sao bạn nên chọn chúng tôi?</h1>
        <div class="col-lg-3 col-md-6">            
            <div class="card">
                <img
                    class="card-img-top img-responsive"
                    src="/assets/image/homepage/card-1.PNG"
                    alt="Card image cap"
                />             
                <div class="card-body">
                    <h4 class="card-title">Miễn phí hoàn toàn</h4>
                    <p class="card-text">
                        Chúng tôi tin rằng tri thức và việc đọc sách nên được phổ biến hoá và tiếp cận dễ dàng cho mọi người. Vì vậy, tất cả các sách trên trang web của chúng tôi đều được cung cấp hoàn toàn miễn phí. Bạn có thể truy cập và đọc sách mà không cần phải trả bất kỳ phí đăng ký hay mua sách nào.
                    </p>               
                </div>
            </div>            
        </div>

        <div class="col-lg-3 col-md-6">            
            <div class="card">
                <img
                    class="card-img-top img-responsive"
                    src="/assets/image/homepage/card-2.PNG"
                    alt="Card image cap"
                />           
                <div class="card-body">
                    <h4 class="card-title">Bộ sưu tập đa dạng</h4>
                    <p class="card-text">
                        Chúng tôi tự hào sở hữu một bộ sưu tập sách đa dạng, bao gồm các thể loại như tiểu thuyết, sách kỹ năng, khoa học, lịch sử, văn hóa, tự lực, truyện tranh và nhiều thể loại khác. Bất kể bạn quan tâm đến lĩnh vực nào, chúng tôi đều cung cấp tài liệu phù hợp để bạn khám phá và đọc.
                    </p>               
                </div>
            </div>            
        </div>

        <div class="col-lg-3 col-md-6">            
            <div class="card">
                <img
                    class="card-img-top img-responsive"
                    src="/assets/image/homepage/card-3.PNG"
                    alt="Card image cap"
                />               
                <div class="card-body">
                    <h4 class="card-title">Dễ sử dụng, thân thiện</h4>
                    <p class="card-text">
                        Giao diện trang web của chúng tôi được thiết kế đơn giản, dễ sử dụng và tối ưu hóa để bạn có trải nghiệm đọc sách thuận tiện. Bạn có thể dễ dàng tìm kiếm sách, lưu trữ, bình luận sách yêu thích, đánh dấu trang và tùy chỉnh cài đặt đọc sách theo ý thích cá nhân.
                    </p>               
                </div>
            </div>            
        </div>

        <div class="col-lg-3 col-md-6">            
            <div class="card"> 
                <img
                    class="card-img-top img-responsive"
                    src="/assets/image/homepage/card-4.PNG"
                    alt="Card image cap"
                />                            
                <div class="card-body">
                    <h4 class="card-title">Cập nhật liên tục</h4>
                    <p class="card-text">
                        Chúng tôi liên tục cập nhật bộ sưu tập sách của mình với các tác phẩm mới nhất và các bản dịch chất lượng. Bạn sẽ luôn có cơ hội khám phá những cuốn sách mới và theo dõi xu hướng đọc sách hiện tại. Giúp bạn trải nghiệm không giới hạn tri thức và sự phong phú của thế giới sách
                    </p>               
              </div>
            </div>            
        </div>
    </div>
</div>