<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Danh sách Tài khoản</h4>                            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>                   
                    <tr>
                        <!-- <th class="th-title"></th> -->
                        <th class="th-title">Email</th>
                        <th class="th-title">Username</th> 
                        <th class="th-title">Role</th>
                        <th></th>                                              
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of users| paginate: { itemsPerPage: itemPerPage, currentPage: p }'>
                        <!-- <td>
                            <input type="checkbox" class="check">
                        </td> -->
                        <td>
                            <h5 class="category-sm">{{user.email}}</h5>
                        </td>
                        <td>
                            <div class="category-content">                                
                                <div class="ms-3">
                                    <h4 class="category-sm">{{user.userName}}</h4>                                  
                                </div>
                            </div>
                        </td> 
                        <td>
                            <div class="category-content">                                
                                <div class="ms-3">
                                    <h4 class="category-sm">{{user.role}}</h4>                                  
                                </div>
                            </div>
                        </td>                                        
                    </tr>              
                </tbody>
            </table>
            <div class="pagess">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>    
</div>


