
*{
    font-family:sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.container-fluid.mt-3{
    display: block;
    position: relative;
    top: 5rem;
}
.lib-content{
    margin-left: 20px;
}
.lib-menu .menu-head{
    position: relative;
    top: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
}
.lib-menu .menu-item{
    position: relative;
    top: 1rem;
    justify-content: center;
    text-align: center;
    margin: 1rem 0 4px 0;

    .menu-button span{
        font-size: 14.4px;
    }
    .menu-button:hover{
        color: white;
        background-color: #2382a8;
    }
    .menu-button:focus{
        color: white;
        background-color: #2382a8;
    }
}
mat-card-content img{
    width: 140px;
    height: 170px;
    margin-left: 30px;
}
mat-card-subtitle{
    text-align: center;
}
.pagess{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.mat-drawer-content{    
    overflow: auto;
}
.col-sm-2.p-3{
    color: white;    
}