<h1>VĂN HỌC</h1>
<div class="homepage">
    <div>
        <img src="../../../assets/image/vanhoc1.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Ánh lửa trong tro tàn</h4>
        <h5 class="sach-tacgia">Sabaa Tahir</h5>
    </div>
    <div>
        <img src="../../../assets/image/vanhoc2.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Trên đồi, mở mắt và mơ</h4>
        <h5 class="sach-tacgia">Văn Thành Lê</h5>
    </div>
    <div>
        <img src="../../../assets/image/vanhoc3.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Những loài hoa có gai</h4>
        <h5 class="sach-tacgia">Lý Thượng Long</h5>
    </div>
    <div>
        <img src="../../../assets/image/vanhoc4.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Tủ giày số 123</h4>
        <h5 class="sach-tacgia">Yuuki</h5>
    </div>
    <div>
        <img src="../../../assets/image/vanhoc5.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Bầu trời năm ấy vẫn cứ ngát xanh</h4>
        <h5 class="sach-tacgia">Seisyun bot</h5>
    </div>
</div>
<a href="#">Xem thêm>></a>
<!-- trinh thám -->
<br>
<h1>TRINH THÁM</h1>
<div class="homepage">
    <div>
        <img src="../../../assets/image/trinhtham1.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Án mạng trên sông Nile</h4>
        <h5 class="sach-tacgia">Agatha Christie</h5>
    </div>
    <div>
        <img src="../../../assets/image/trinhtham2.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Phía sau nghi can X</h4>
        <h5 class="sach-tacgia">Higashino Keigo</h5>
    </div>
    <div>
        <img src="../../../assets/image/trinhtham3.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Kỳ án ánh trăng</h4>
        <h5 class="sach-tacgia">Quỷ Cổ Đỏ</h5>
    </div>
    <div>
        <img src="../../../assets/image/trinhtham4.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Sát nhân mạng</h4>
        <h5 class="sach-tacgia">Jeffery Deaver</h5>
    </div>
    <div>
        <img src="../../../assets/image/trinhtham5.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Chim cổ đỏ</h4>
        <h5 class="sach-tacgia">Jo Nesbo</h5>
    </div>
</div>
<a href="#">Xem thêm>></a>
<!-- tâm linh -->
<br>

<h1>TÂM LINH</h1>
<div class="homepage">
    <div>
        <img src="../../../assets/image/tamlinh1.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Hành trình về phương Đông</h4>
        <h5 class="sach-tacgia">Baird T. Spalding</h5>
    </div>
    <div>
        <img src="../../../assets/image/tamlinh2.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Bên rặng tuyết sơn </h4>
        <h5 class="sach-tacgia"> Swami Amar Jyoti</h5>
    </div>
    <div>
        <img src="../../../assets/image/tamlinh3.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Trở về từ cõi sáng</h4>
        <h5 class="sach-tacgia"> John Vu</h5>
    </div>
    <div>
        <img src="../../../assets/image/tamlinh4.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Hoa sen trên tuyết</h4>
        <h5 class="sach-tacgia"> John Vu</h5>
    </div>
    <div>
        <img src="../../../assets/image/tamlinh5.jpg" alt="" class="card-image-top">
        <h4 class="sach-title">Minh chứng thiên đường</h4>
        <h5 class="sach-tacgia">Eben Alexander</h5>
    </div>
</div>
<a href="#">Xem thêm>></a>