<div class="nav-home-head">
    <image-slider></image-slider>
</div>
<div class="homepage">
        <div class="content">
            <div class="row">
                <div class="col-sm-6 p-3 text-white">
                    <img src="/assets/image/homepage/banner2.jpg" alt="">
                </div>
                <div class="col-sm-6 p-3 bg-gray text-black">
                    <div class="col-cont">
                        <h2 class="home-title">BOOKWORM xin chào 
                            <mat-icon> local_library</mat-icon>
                        </h2>                        
                        <p class="home-content">
                            Hân hạnh chào đón bạn đến với trang web đặc biệt này, 
                            nơi bạn có thể khám phá và tận hưởng thế giới phong phú của những cuốn sách. 
                            Với mục tiêu truyền cảm hứng và khuyến khích việc đọc sách, chúng tôi đã tạo ra 
                            một nền tảng thuận tiện và đa dạng, mang đến cho bạn những trải nghiệm tuyệt vời khi đọc sách.
                        </p> 
                    </div>
                    <div class="button-right">
                        <button type="button" class="btn btn-outline-success" routerLink="/pages/about">Tìm hiểu thêm</button>
                    </div>                                 
                </div>                    
            </div>            
        </div>
        <div class="intro-2">
            <div class="row">
                <h2 class="title-2">Đa dạng sách 
                    <mat-icon>share</mat-icon>
                </h2>                        
                <p class="content-2">
                    Website của chúng tôi tự hào chia sẻ với bạn một thư viện điện tử đầy đủ, 
                    với hàng ngàn cuốn sách<br>từ các thể loại khác nhau. Từ tiểu thuyết, tự truyện,
                    sách kỹ năng sống, khoa học, đến văn học kinh điển <br> và nhiều hơn nữa, chúng 
                    tôi cam kết đáp ứng đa dạng các sở thích đọc sách của bạn.
                </p> 
            </div>
            <div class="row">
                <div class="col-sm-3 p-3">
                    <img src="/assets/image/homepage/img1.jpg" class="image">
                </div>
                <div class="col-sm-3 p-3">
                    <img src="/assets/image/homepage/img2.jpg" class="image">
                </div>
                <div class="col-sm-3 p-3">
                    <img src="/assets/image/homepage/img3.jpg" class="image">
                </div>
                <div class="col-sm-3 p-3">
                    <img src="/assets/image/homepage/img4.jpg" class="image">
                </div>

                <div class="button-right">
                    <button type="button" class="btn btn-outline-success" routerLink="/pages/library">khám phá sách</button>
                </div>
            </div>                
        </div>  


</div>