
.homepage{
    display:block;
    position: relative;
    margin-top: 580px;
}
/* .footer{
    display: block;
    margin-top: 5rem;
} */
.content{
    /* background-color: azure; */
    position: relative;
}
.row{
    margin-bottom: 2rem;
}
.row img{
    border-radius: 5px !important;
}
.home-title{
    position: relative;
    top: 3rem;
    text-transform:capitalize;
    font-size: 40px;
    text-align: center;
}
.home-content{
    position: relative;
    top: 3rem;
    line-height: 2rem;
    font-size: 22px;
}
.col-cont{
    margin-top: 5rem;
    text-align: center;
}
.button-right{
    position: relative;
    top: 3rem;
    right: auto;
    margin: 5px 10px 15px 0;
    text-align: center;
}
.button-right .btn.btn-outline-success{
    text-transform: uppercase;
    margin-right: 10px;
    color: #749BC2;
    border-color: #749BC2;
}
.button-right .btn.btn-outline-success:hover{
    color: #fff;
    background: #749BC2;
}
.intro-2{
    margin-top: 3rem;
    background-color: azure;
    height: 111vh;

    .title-2{
        margin-top: 2rem;
        text-transform:capitalize;
        text-align: center;
        font-size: 40px;
    }
    
    .content-2{
        font-size: 22px;
        text-align: center;
        line-height: 28px;
    }

    .image{
        width: 250px;
        height: 290px;
        margin-left: 2rem;
        text-align: center;
    }
}

