
.homepage{
    display:block;
    position: relative;
    margin-top: 580px;
}
/* .footer{
    display: block;
    margin-top: 5rem;
} */
.content{
    display: flex;
    padding:30px;
    /* background-color: azure; */
    position: relative;
}
.card-image-top{
    width: 100px;
    height: 150px;
    cursor: pointer;
    /* padding-left: 70px;
    padding-right: 70px; */
    margin-right: 70px;
    margin-left: 70px;
    
}
h4{
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: justify;
    font-family: Roboto;
    color:#101010;
    padding-left: 70px;
    padding-right: 70px;
}
h1{
    font-weight: bold;
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
    font-family: Roboto;
    color:#101010
}
h5{
    font-size: 15px;
    /* text-align: justify; */
    font-family: Roboto;
    color:#101010;
    padding-left: 70px;
    padding-right: 70px;
}
.xemthem{
    font-weight: bold;
    font-size: 14px;
    color:#c86363;
    padding-left: 60%;
}
.homepage-detail{
    display: flex;
    padding:30px;
    background-color: azure;
    position: relative;
}