<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="#" class="site-logo"><span>BOOKWORM</span></a>
    
    <button mat-button routerLink="/home">TRANG CHỦ</button>
    <button mat-button routerLink="/about">GIỚI THIỆU</button>
    <button mat-button routerLink="/contact">LIÊN HỆ</button>
    <mat-accordion>
        <mat-expansion-panel hideToggle>                  
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" class="custom-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
              <button mat-button routerLink="/library">THƯ VIỆN</button>              
            </mat-panel-title>            
          </mat-expansion-panel-header>         
          <section>
            <div class="example-button-row">
              <a mat-button routerLink="">VĂN HỌC</a>
              <a mat-button routerLink="">TRINH THÁM</a>
              <a mat-button routerLink="">TÂM LINH</a>          
            </div>
          </section>
        </mat-expansion-panel>
      </mat-accordion>
      
    
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button [routerLink]="['/login-user']">ĐĂNG NHẬP</button>
    <button mat-button routerLink="/register-user">ĐĂNG KÝ</button>
    <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>
  
  </mat-toolbar> 
  
