
.mat-toolbar{
    display: flex;
    top: 0;
    height: fit-content;
    position: fixed;
    z-index: 9999;
    background-color: var(--navbar-color);
    color: var(--nav-footer-text-color);
    padding: .5rem 2rem;
}

.site-logo {
    color: var(--title-text-color);
    text-decoration: none;
    font-size: 30px;
    font-style: bold;
}
.btn-title:hover{
    background-color: #5ba0e4;
    color: black;
}
.btn-title,
.sub-btn-title {
    background-color: var(--navbar-color);
    color: var(--nav-footer-text-color);
    text-transform: uppercase;
}


.sub-btn-title {
    padding-left: 1rem;
}

.sub-btn-title:hover{
    color: var(--navbar-color);
}



.mat-accordion .custom-panel {
    background-color: var(--navbar-color);
    box-shadow: none;
    /* border-color: var(--primary-background); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
 }
 .panel-title{
    color: var(--nav-footer-text-color);
 }
.mat-mdc-form-field + .mat-mdc-form-field {
     margin-left: 8px;
} 

 .example-spacer {
     flex: 1 1 auto;
 }
 .example-button-row {
     display: table-cell;
     max-width: fit-content;
     max-height: 100px;
     background-color: var(--navbar-color);
     color: var(--nav-footer-text-color);
}

.active{
    background-color: var(--navbar-color);
}
.active:hover{
    background-color: #5ba0e4;
    color: black;
}
.active:focus{
    color: black;
}