<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a href="/pages/home" class="site-logo"><span>BOOKWORM</span></a>
    <button mat-button routerLink="/pages/home" routerLinkActive="active" class="btn-title">trang chủ</button>
    <button mat-button routerLink="/pages/contact" routerLinkActive="active" class="btn-title">liên hệ</button> 
    <button mat-button routerLink="/pages/about" routerLinkActive="active" class="btn-title">giới thiệu</button> 
    <button mat-button routerLink="/pages/library" routerLinkActive="active" class="btn-title">thư viện</button>
    <div *ngIf="role === 'Admin'">
      <button mat-button routerLink="/adminpanel/statistical" routerLinkActive="active" class="btn-title">Quản lý</button>
    </div>
      <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item class="sub-btn-title">văn học</button>
        <button mat-menu-item class="sub-btn-title">trinh thám</button>
        <button mat-menu-item class="sub-btn-title">tâm linh</button>
      </mat-menu> -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" routerLink="/pages/search" routerLinkActive="active">
        <mat-icon>search</mat-icon>
    </button> 
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <div>
      <div *ngIf="role === 'User' || role === 'Admin'; else loginSection">
        <button mat-button [matMenuTriggerFor]="menu">{{ name }}<i class="fa-solid fa-caret-down"></i></button>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item class="sub-btn-title" (click)="logout()">Log Out</button>
        </mat-menu>
      </div>
      <ng-template #loginSection>
        <div class="menu-button">
          <button mat-button routerLink="/pages/login-user" routerLinkActive="active" class="btn-title">{{ name ? name : 'ĐĂNG NHẬP' }}</button>
          <button mat-button routerLink="/pages/register-user" routerLinkActive="active" class="btn-title">ĐĂNG KÝ</button>
        </div>
      </ng-template>
    </div>
    
    
    
  
    <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>
  
  </mat-toolbar> 
  
