/* .card{
    margin: 2rem .2rem 1.3rem -1rem;
}
.card-title{
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}
.th-title{
    text-transform: uppercase;
    text-align: center;
    justify-content: baseline;
    font-weight: 800; 
}
.book-name .book-auth{
    font-size: 12px;

}
.book-sm{
    margin: 0 1rem 0 2rem;
    overflow: hidden;
    width: 300px;
    font-size: 12px;
}
.book-content{
    display: flex;
    font-size: 12px;
    align-items: center;
}
.book-ps{
    font-size: 12px;
    text-align: center;
}

.button-right{
    position: relative;
    right: auto;
    margin: 5px 10px 15px 0;
    text-align: right;
}
.button-right .btn.btn-outline-success{
    text-transform: uppercase;
    margin-right: 10px;
    color: #6200ee;
    border-color: #6200ee;
}
.button-right .btn.btn-outline-success:hover{
    color: #fff;
    background: #6200ee;
}
.check{
    font-size: 10px;
}
.pagess{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.ngx-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ngx-pagination li{
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
    background: #f8f8f8;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;

    .small-screen{
        display: none !important;
    }

    .pagination-previous,
    .pagination-next{
        a,span{
            width: 100%;
            height: 100%;
            overflow: hidden;
            color: #f8f8f8;
        }
    }
} */