
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sách</h4>                            
       <div class="form-responsive">    
            <div *ngIf="sach">                
                <div class="form-edit">
                    <div class="editsach-title">
                        <label class="title-edit">Tên sách</label>
                        <input [(ngModel)]="sach.tenSach" placeholder="Nhập tên sách" class="input-info"/>
                    </div>
                    <div class="editsach-title">
                        <label class="title-edit">Tác giả</label>
                        <input [(ngModel)]="sach.tacGia" placeholder="Nhập tên tác giả" class="input-info"/>
                    </div>        
                    <div class="editsach-title">
                        <label class="title-edit">Số trang</label>
                        <input [(ngModel)]="sach.soTrang" placeholder="Nhập số trang" class="input-info"/>
                    </div>
                    <div class="editsach-title">
                        <label class="title-edit">Hình ảnh</label>
                        <input type="file" (change)="selectFile($event)" class="input-info"/>
                    </div>
                    <div class="editsach-title">
                        <label class="title-edit">Tóm tắt</label>
                        <div>
                            <textarea rows="10" [(ngModel)]="sach.tomTat" placeholder="Tóm tắt sách" class="input-info"></textarea>
                        </div>
                    </div>
                    <div class="editsach-title">
                        <label class="title-edit">File pdf</label>
                        <input type="file" (change)="selectFilePdf($event)" class="input-info"/>
                    </div>
                    <div class="editsach-title">
                        <label class="title-edit">Thể loại</label>
                        <!-- <input [(ngModel)]="sach.idTheLoai" placeholder="Mã thể loại" class="input-info"/> -->
                        <select name="idTheLoai">
                            <option value="0">--Select--</option>
                            <option *ngFor="let tl of theloai">
                                {{tl.tenTheLoai}}
                            </option>
                        </select>
                    </div>
            
                    <div class="button-right">
                        <button type="submit" class="btn btn-outline-success" (click)="createSach()" *ngIf="!sach.id">Thêm mới</button>                        
                    </div>
                </div>  
            </div>     
        </div>
    </div>
</div> 













