
<head>
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>
<div class="container-footer">
    <div class="row">
        <div class="footer-col">
            <h2 class="logo"><mat-icon>book</mat-icon>BOOKWORM</h2> 
            <div class="icon-heading">
                <mat-icon matIconPrefix>location_on</mat-icon>
                <h3><span>280 An Dương Vương</span></h3>
            </div> 
            <div class="icon-heading">
                <mat-icon matIconPrefix>phone</mat-icon>
                <h3><span>0865.399.399</span></h3>
            </div> 
            <div class="icon-heading">
                <mat-icon matIconPrefix>mail</mat-icon>
                <h3><span>bookworm@gmail.com</span></h3>
            </div>                
        </div>
        <div class="footer-col">  
            <button mat-button routerLink="/library">HỖ TRỢ</button>                       
            <mat-list role="list">                
                <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/library">Trung tâm hỗ trợ</mat-list-item>
                <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/library">FAQs</mat-list-item>
            </mat-list>            
        </div>
        <div class="footer-col">  
            <button mat-button routerLink="/library">THƯ VIỆN</button>  
                            
                <mat-list role="list">                
                    <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/library">Văn Học</mat-list-item>
                    <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/library">Trinh Thám</mat-list-item>
                    <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/library">Tâm Linh</mat-list-item>
                </mat-list>     
                    
        </div>  
        <div class="footer-col">
            <button mat-button>VỀ CHÚNG TÔI</button> 
            <mat-list role="list">                
                <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/about">Giới Thiệu</mat-list-item>
                <mat-list-item role="listitem" style="cursor: pointer;" routerLink="/contact">Liên Hệ</mat-list-item>                
            </mat-list>  
        </div>
        <div class="footer-col">
            <button mat-button>THEO DÕI CHÚNG TÔI</button> 
            <mat-list role="list">                
                <mat-list-item role="listitem" style="cursor: pointer;" routerLink=""><span><i class="fa-brands fa-facebook"></i></span> BookWorm</mat-list-item>
                <mat-list-item role="listitem" style="cursor: pointer;" routerLink=""><span><i class="fa-brands fa-instagram"></i></span> BW@321</mat-list-item>
                <mat-list-item role="listitem" style="cursor: pointer;" routerLink=""><span><i class="fa-brands fa-twitter"></i></span> BookWorm@</mat-list-item>        
            </mat-list>              
        </div>
    </div>
</div>