.container-footer{
    position: relative;
    top: 7rem;
    background-color: var(--navbar-color);
    color: var(--nav-footer-text-color);
    max-width:100%;
    margin:auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 22%;
    padding: 0 18.5px;
    position: relative;
    top: 5px;
    font-size: 20px;
}
.logo{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: justify;
    font-style: bold;
    color: #000000;
}
.icon-heading {
    display: flex;
    align-items: center;
    color: #000000;
} 
.icon-heading mat-icon {
    margin-right: 10px; /* Khoảng cách giữa icon và tiêu đề */
    margin-bottom: 1rem;
}
i{
    font-size: 18px;
}
.mat-list-item:hover{
    cursor: pointer;
}
button{
    display: block;
    position: relative;
    left: 5px;
}