<div class="container-footer">
    <div class="row">
        <div class="footer-col">
            <h3>BOOKWORM</h3>
        </div>
        <div class="footer-col">
            <h3>Thư viện </h3>
            <p><a herf="#">Văn học</a></p>
            <p><a herf="#">Trinh thám</a></p>
            <p><a herf="#">Tâm linh</a></p>
        </div>
        <div class="footer-col">
            <h3>Thông tin</h3>
            <p><a herf="#">Giới thiệu</a></p>
            <p><a herf="#"></a>Liên hệ</p>
        </div>
        <div class="footer-col">
            <h3>Theo dõi</h3>
            <p>Hotline:0123 456 789</p>
            <p>Email: bookworm@gmail.com</p>
            <p>Địa chỉ:280 An Dương Vương, Phường 4, Quận 5 </p>
        </div>
    </div>
</div>