/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css');
:root {
    --navbar-color: #749BC2;
    --footer-color: #4682A9;
    --nav-footer-text-color: #F6F4EB;
    --button-color: #F6F4EB;
    --button-2-color: #96B6C5;
    --button-text-color: #4682A9;
    --title-text-color: #000000;
    --body-text-color: #000000;
    --cover-book-color: #FBF6F6;
}

html, body { 
    height: 100%;
    width: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 12px;
    color: var(--body-text-color);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
